body {
    margin: 0;
    padding: 0;
    background-image: url(../picture/app_background.jpg);
    backdrop-filter: blur(5px);
    background-size: cover;
    font-family: Montserrat, sans-serif;
}

.registrationbox {
    width: 320px;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #a43718;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;

    overflow-y: scroll;
}

.registrationbox::-webkit-scrollbar {
    width: 10px;
}

.registrationbox::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(23, 42, 48);
}

.registrationbox::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ad431a;
}

.registrationbox::-webkit-scrollbar-thumb:hover {
    background-color: #a43718;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 0 0 20px;
    font-size: 22px;
}

.formbox {
    width: 100%;
}

.formbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.formbox input {
    width: 100%;
    margin-bottom: 20px;
}

.input-control .error {
    color: #ad431a;
    font-size: 11px;
    height: 13px;
}

.formbox input[type="text"], .formbox input[type="email"], .formbox input[type="password"], .formbox input[type="date"] {
    border: 0;
    border-bottom: 1px solid #a43718;
    background: transparent;
    outline: none;
    height: 40px;
    color: #a43718;
    font-size: 15px;
}

.formbox input[type="text"]:focus, .formbox input[type="email"]:focus, .formbox input[type="password"]:focus {
    border-bottom: #a43718;
}

.formbox input[type="submit"] {
    border: 0;
    outline: 0;
    background: #172a30;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    color: #a43718;
}

.formbox input[type="submit"]:hover {
    cursor: pointer;
    background: #a43718;
    color: #172a30;
}

.formbox .link {
    text-decoration: none;
    border: none;
    outline: none;
    font-weight: bold;
    color: #ad431a;
    font-size: 17px;
    text-align: center;
}

.formbox .link a {
    text-decoration: none;
    color: white;
}

.formbox a:hover {
    color: #ad431a;
}

form.ru [type="submit"], form.en [type="submit"] {
    text-decoration: none;
    outline: none;
    border: none;
    background: #172a30;
    color: #ad431a;
    position: center;
    bottom: 15px;
}

form.ru [type="submit"]:hover, form.en [type="submit"]:hover {
    cursor: pointer;
    background: #a43718;
    color: #172a30;
}